form {
	clear: both;
	font: inherit;
}

input {
	border: 1px solid #999;
	font: inherit;
	vertical-align: middle;
}

input[type=text], input[type=password] {
	color: #969696;
}

input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #000;
	color: #000;
}

label {
	vertical-align: middle;
	color: #000;
}

textarea {
	border: 1px solid #999;
	font: inherit;
	color: #000;
}

textarea:focus {
	border: 1px solid #000;
}

select {
	border: 1px solid #999;
	font: inherit;
	color: #000;
}

#form {
	margin: 10px auto;
	width: 400px;
	text-align: left;
}

#form > fieldset {
	border: 1px solid #C0C0C0;
	background-image: url('../../img/white-bg.png');
	margin-bottom: 20px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	-opera-border-radius: 7px;
}

#form > fieldset > legend {
	font-style: italic;
	font-size: 115%;
}

#form > ul {
	list-style: square;
}

.fb {
	text-align: center;
	clear: both;
	padding: 5px;
	min-height: 20px;
}

.fbl {
	text-align: right;
	float: left;
	width: 28%;
	min-height: 20px;
}

.fbr {
	text-align: left;
	float: right;
	width: 70%;
	min-height: 20px;
}

.fbc {
	text-align: center;
	margin-top: 5px;
}

#fbb {
	clear: both;
	width: 75%;
	padding: 4px;
	padding-top: 10px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #C0C0C0;
}

.valid_label {
	color: #000;
}

.valid_field {
	border: 1px solid #999;
}

.invalid_label {
	color: #F00;
	font-weight: bold;
}

.invalid_field {
	border: 1px solid #F00;
}

.error_container {
	padding: 5px;
	margin-top: 25px;
	clear: both;
	border: 1px solid #F00;
	text-align: center;
}
