#mensagem {
	padding: 15px;
	margin-top: 5px;
	width: 400px;
}

.erro {
	border: 1px dashed #FF0000;
	background-color: #FFDFDF;
	clear: both;
	padding: 10px;
	margin: auto;
}

.erro #erro_titulo {
	border-bottom: 1px dotted #FF0000;
	font-size: 110%;
	color: #000;
}

.erro #erro_mensagem {
	padding: 20px;
	text-align: justify;
	color: #000;
}

.erro #erro_rodape {
	border-top: 1px dotted #FF0000;
	text-align: right;
}

.alerta {
	border: 1px dashed #E8E800;
	background-color: #FFFFDD;
	clear: both;
	padding: 10px;
	margin: auto;
}

.alerta #alerta_titulo {
	border-bottom: 1px dotted #E8E800;
	font-size: 110%;
	color: #000;
}

.alerta #alerta_mensagem {
	padding: 20px;
	text-align: justify;
	color: #000;
}

.alerta #alerta_rodape {
	border-top: 1px dotted #E8E800;
	text-align: right;
}

.sucesso {
	border: 1px dashed #00FF00;
	background-color: #DFFFDF;
	clear: both;
	padding: 10px;
	margin: auto;
}

.sucesso #sucesso_titulo {
	border-bottom: 1px dotted #00FF00;
	font-size: 110%;
	color: #000;
}

.sucesso #sucesso_mensagem {
	padding: 20px;
	text-align: justify;
	color: #000;
}

.ajuda {
	border: 1px dashed #0000FF;
	background-color: #DFDFFF;
	clear: both;
	padding: 10px;
	margin: auto;
}

.ajuda #ajuda_titulo {
	border-bottom: 1px dotted #FF0000;
	font-size: 110%;
	color: #000;
}

.ajuda #ajuda_mensagem {
	padding: 20px;
	text-align: justify;
	color: #000;
}

#invisivel {
	display: none;
	visibility: hidden;
}

#mcontainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../img/black-bg.png');
}

#mcontent {
	position: relative;
	margin: auto;
	top: 30%;
	width: 400px;
	height: 200px;
	padding: 15px;
}

#mtitle {
	font-size: 120%;
	font-weight: bold;
	color: #000;
	padding-bottom: 5px;
}

#mtext {
	font-size: 110%;
	padding: 10px;
	height: 130px;
	text-align: justify;
	color: #000;
}

#mfooter {
	text-align: right;
	padding-top: 5px;
}

.error {
	border: 1px dashed #FF0000;
	background-color: #FFDFDF;
}

.error #mtext {
	border-top: 1px dotted #FF0000;
	border-bottom: 1px dotted #FF0000;
}

.alert {
	border: 1px dashed #E8E800;
	background-color: #FFFFDD;
}

.alert #mtext {
	border-top: 1px dotted #E8E800;
	border-bottom: 1px dotted #E8E800;
}

.success {
	border: 1px dashed #00FF00;
	background-color: #DFFFDF;
}

.success #mtext {
	border-top: 1px dotted #00FF00;
	border-bottom: 1px dotted #00FF00;
}

.help {
	border: 1px dashed #0000FF;
	background-color: #DFDFFF;
}

.help #mtext {
	border-top: 1px dotted #0000FF;
	border-bottom: 1px dotted #0000FF;
}
