html {
	height: 100%;
}

body {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
	height: 100%;
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	color: #696969;
	text-decoration: none;
	border-bottom: 1px dotted #A0A0A0;
}

a:hover {
	border-bottom: 1px solid #A0A0A0;
	color: #000000;
}
